* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
}

button {
    border: none;
    outline: none;
    display: block;
    color: white;
    margin: 2em auto;
    padding: 1em 2em;
    border-radius: .5em;
    background: crimson;
}

.container {
    display: flex;
    gap: 8px;
    padding: 1em;
    flex-wrap: wrap;
    border: 1px solid whitesmoke;
}